*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json
